* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Days One', sans-serif;
}

.shaking-text {
  font-size: 1.3rem;
}

.shaking-letter {
  display: inline-block;
  white-space: pre;
}




