* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Days One', sans-serif;
}

/* Mobile */

main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: rgb(255, 255, 255); */
}

.game-scene {
  /* background-color: rgba(0, 0, 255, 0.443); */
  height: 85%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.player-section {
  /* background-color: rgba(255, 0, 0, 0.5); */
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
}

.enemy-section {
  /* background-color: rgba(0, 0, 255, 0.5); */
  display: flex;
  height: 60%;
  position: relative;
  z-index: 2;
}

.move-selection {
  /* background-color: rgba(255, 0, 0, 0.516); */
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.move-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 0.62rem;
  padding: 0.62rem;
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 40%;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1.38rem;
  justify-content: center;
}

.player-info p {
  font-size: 0.8rem;
}

.bar-and-number {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.bar {
  width: 100%;
  background-color: blue;
  height: 0.7rem;
}

.bar div {
  height: 100%;
  width: 50%;
}

.player-health {
  background-color: red;
  width: 50%;
  height: 100%;
}

.player-mana {
  background-color: rgb(0, 208, 255);
}

.player-sprite {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.player-sprite img {
  object-fit: cover;
}

.health-count {
  color: red;
}

.mana-count {
  color: rgb(0, 208, 255);
}

.player-speech-bubble {
  display: flex;
  /* background-color: pink; */
  width: 60%;
  position: relative;
}

.speech-bubble {
  padding: 1rem;
  /* background-color: red; */
  position: relative;
}

.speech-bubble p {
  padding: 1rem;
  color: white;
  background-color: black;
  margin-top: 60%;
  z-index: 5;
  position: relative;
}

.speech-bubble p::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  border-width: 30px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  z-index: 4;
}

.enemy {
  /* background-color: green; */
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 80%;
  
}

.enemy-speech-bubble {
  /* background-color: rgba(255, 0, 0, 0.42); */
  width: 55%;
}

.enemy-sprite {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.enemy-sprite img {
  object-fit: cover;
}

.enemy-speech-bubble p {
 margin-top: 10%;
  background-color: black;
  color: white;
  padding: 1rem;
  position: relative;
  margin-right: 2rem;
}

.enemy-speech-bubble p::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10%;
  border-width: 30px;
  border-style: solid;
  transform: scaleY(-1);
  border-color: rgb(0, 0, 0) transparent  transparent transparent ;
  z-index: 4;
}

/* Tablet */
@media screen and (min-width: 768px) {
  main {
    background-color: green;
  }

}

/* Desktop */
@media screen and (min-width: 1200px) {

}




